.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.col-md-9.main-content {
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 15px; /* Adding padding to ensure content doesn't touch the left edge */
    padding-right: 15px; /* Ensure there's space between the main content and the sidebar */
}

.col-md-3.sidebar {
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 15px;
}

.vertical-ad-banner {
    margin-top: 20px;
}

.ad-banner img, .vertical-ad-banner img {
    width: 100%;
    height: auto;
}

.navmargin {
    margin-top: 20px;
}

.page-header {
    margin-top: 20px;
    margin-bottom: 20px;
}

p.lead, .page-header h1 {
    margin-left: 15px; /* Ensures the text has padding from the left to prevent cutting off */
    margin-right: 15px; /* Same padding for the right side */
}